name: C Actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: make build

  valgrind-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Valgrind-check
      run: make test-valgrind
