name: C Actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: make build

  valgrind-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: make build

    - name: Valgrind
      uses: Ximaz/valgrind-action@v1.2.0
      with:
        binary_path: build/scorpionc2-server
